:root {
	--bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	.header-container {
		display: flex;
		align-items: center;
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.contacts-list {
		display: flex;
	}

	.contacts {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		margin-right: 40px;
	}

	.hero {
		width: 1440px;
		padding-top: 188px;
		padding-bottom: 188px;
		background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
	}

	@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
		screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px),
		screen and (min-resolution: 192dpi) and (min-width: 1158px),
		screen and (min-resolution: 2dppx) and (min-width: 1158px) {
		.hero {
			background-image: var(--bg-gradient), url(../images/hero-bg@2x.jpg);
		}
	}

	.hero-btn {
		margin-top: 48px;
	}

	.about {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.about-list-title {
		display: flex;
		align-items: start;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}

	.about-list-item {
		width: 264px;
	}

	.about-list {
		display: flex;
		gap: 24px;
	}

	.about-description {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
	}

	.team {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.customers {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.customers-list {
		justify-content: center;
		gap: 24px;
	}

	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-footer {
		display: flex;
	}

	.footer-wrapper {
		margin-left: 0;
	}

	.footer-logo-description {
		text-align: start;
		margin-right: 0;
		margin-bottom: 0;
	}

	.footer-modal-form-wrapper {
		display: flex;
	}

	.footer-modal-form {
		margin-left: 80px;
	}

	.footer-social {
		margin-left: 120px;
		margin-bottom: 0;
	}

	.footer-media-title {
		text-align: start;
	}

	.modal-form-field {
		margin-bottom: 0;
	}

	.projects-foto {
		width: 360px;
		height: 300px;
	}
	.projects-item {
		flex-basis: calc((100% - 48px) / 3);
	}
}
