@media screen and (min-width: 768px) {
	.container {
		max-width: 582px;
	}
	.header .container {
		max-width: 738px;
	}

	.mobile-menu {
		display: none;
	}

	.mobile-menu-open {
		display: none;
	}
	/* .contacts-item {
		margin-bottom: 12px;
	} */

	.contacts-item:not(:last-child) {
		margin-bottom: 12px;
	}

	.contacts {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
	}

	.hero {
		max-width: 768px;
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/hero-bg-tab.jpg);
	}

	@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
		screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
		screen and (min-resolution: 192dpi) and (min-width: 768px),
		screen and (min-resolution: 2dppx) and (min-width: 768px) {
		.hero {
			background-image: linear-gradient(
					rgba(46, 47, 66, 0.7),
					rgba(46, 47, 66, 0.7)
				),
				url(../images/hero-bg-tab@2x.jpg);
		}
	}

	.hero-title {
		width: 496px;
		font-size: 56px;
		line-height: 1.07;
		text-transform: none;
		margin-bottom: 36px;
	}

	.about .container {
		max-width: 738px;
	}

	.about-list {
		gap: 24px;
		row-gap: 72px;
	}

	.about-list-title {
		text-align: start;
	}

	.about-list-item {
		width: calc((100% - 24px) / 2);
	}

	.team-list {
		gap: 24px;
		row-gap: 64px;
	}

	.customers-list {
		gap: 24px;
		row-gap: 72px;
		justify-content: center;
	}

	.customers-link {
		width: 168px;
	}
	.section-footer {
		justify-content: left;
	}
	.footer-logo {
		display: flex;
		align-items: start;
	}

	.footer-logo-description {
		margin-right: 24px;
	}

	.footer-media-title {
		text-align: start;
	}

	.footer-form-email {
		max-width: 398px;
	}

	.subscribe {
		display: block;
		gap: 24px;
	}

	.subscribe-btn {
		margin-right: 0;
		margin-left: 0;
	}

	.footer-form-email {
		width: 264px;
	}
	.filters-list {
		justify-content: center;
	}
	.projects-foto {
		width: 356px;
		height: 300px;
	}

	.projects-item {
		width: calc((100% - 24px) / 2);
	}
}
